NEXT_PUBLIC_API_BASE=http://127.0.0.1:8000/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Sunucu:
# NEXT_PUBLIC_API_BASE=https://api.akustikkontrol.com.tr/api
# NEXT_PUBLIC_GOOGLE_CLIENT_ID=google-oauth-client-id
