Django==6.1
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
google-auth==2.57.0
iyzipay==1.0.46
pdfplumber==0.11.8
pillow==12.3.0
python-dotenv==1.2.3
requests==2.34.2
gunicorn==23.0.0
whitenoise==6.11.0
